body
{
    margin:auto;
    min-height:30%;
    font-family: fantasy, Lucida Calligraphy, Georgia, EG Dragon Caps;
    font-size:smaller;
	background-color:black;
    color:white;
}

input[type=submit]
{
    cursor:pointer;
    color:green;
    background-color:red;
	border-color: white;
    line-height:normal;
    font-family: fantasy, Lucida Calligraphy, Georgia, EG Dragon Caps;
	font-size:smaller;
	min-width:75px;
}

input[type=button]
{
    cursor:pointer;
    color:white;
	padding: 8px;
	height: 30px;
	background: -moz-linear-gradient(left top,#333333,#330000);
	background: -webkit-linear-gradient(left top,#333333,#330000);
	background: -o-linear-gradient(left top,#333333,#330000);
	background: -ms-linear-gradient(left top,#333333,#330000);
	background: linear-gradient(left top,#333333,#330000);
    border: solid 0.5px white;
	border-radius: 5px;
	line-height:normal;
    font-family: fantasy, Lucida Calligraphy, Georgia, EG Dragon Caps;
	font-size:smaller;
	min-width:75px;
}

input[type=input]
{
    width:50px;
	text-align:left;
}


.allg_info_eingabe
{
	min-width: 200px;
}

.allg_info_eingabe_links
{
	min-width: 200px;
}

.allg_info_eingabe_links_150
{
	min-width: 150px;
}

.allg_info_eingabe_text
{
	min-width: 200px;
}

.select_200
{
	min-width: 200px;
}

.select_50
{
	min-width: 50px;
	min-height: 21px;
}

#rahmen
{
    position: absolute;
	left: 10px;
	top: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
	/*border: solid white 1pt;*/
}

#header
{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    height:100px;
    width:100%;
    background-color:#000000;
    color:#ffffff;
}

#mitte
{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    /*height:600px;*/
    height:100%;
    width:100%;
    background-color:black;
}

#zur_spielerauswahl
{
    position:absolute;
    top:10px;
    right:10px;
	z-index: 1;
}

.td_bed_baum
{
	width:300px;
}

.button_bed_baum_gruen
{
	color: black;
	font-weight: normal;
	padding: 5px;
	border: solid 0.5px black;
	border-radius: 3px;
	background: #ccffcc;
}
.button_bed_baum_gruen:hover
{
	background: #88ff88;
}

.button_bed_baum_rot
{
	color: black;
	font-weight: normal;
	padding: 5px;
	border: solid 0.5px black;
	border-radius: 3px;
	background: #ffcccc;
}
.button_bed_baum_rot:hover
{
	background: #ff8888;
}