
body
{
    margin:auto;
    min-height:30%;
    font-family:fantasy;
    font-size:smaller;
    color:white;
}

input[type=submit]
{
    cursor:pointer;
    color:white;
    background-color:black;
    line-height:normal;
    font-family:fantasy;
    height: 20px;
}

#rahmen
{
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height:100%;
    min-height:550px;
    min-width:600px;
}

#header
{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    height:100px;
    width:100%;
    background-color:#000000;
    color:#ffffff;
}

#anmeldung
{
    position:absolute;
    top:100px;
    left:0px;
    right:0px;
    bottom:50px;
    color:#000000;
    padding:10px;
}


#mitte
{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    /*height:600px;*/
    height:100%;
    width:100%;
    background-color:black;
}

#obere_Leiste
{
    position:absolute;
    top:10px;
    left:0px;
    right:0px;
    height:25px;
    width:100%;
    background-color:darkgrey;
    z-index: 1;
}

#zielgebiete
{
    position:absolute;
    left:10px;
    top:200px;
    width:50px;
    height:100px;
    color:#ffffff;
}

#charakter
{
    position:absolute;
    right:20px;
    top:10px;
    width:200px;
    height:178px;

}

#elemente
{
    position:absolute;
    right:50%;
    top:100px;
    width:200px;
    height:200px;
    display:none;

}

#untere_Leiste
{
    position:absolute;
    bottom:10px;
    left:0px;
    height:25px;
    width:100%;
    background-color:darkgrey;
    z-index: 1;
}

#footer
{
    position:absolute;
    bottom:0px;
    left:0px;
    right:0px;
    height:56px;
    width:100%;
    background-color:#000000;
    color:#ffffff;
}

#zur_spielerauswahl
{
    position:absolute;
    bottom:50px;
    right:50px;
    z-index: 1;
}


/* Level-/Zahlensymbole */

#l1
{
    position:absolute;
    bottom:120px;
    left:5px;
    width:50px;
    height:50px;
    background-image: url("./Bilder/zahl_1.png");
}

#l2
{
    position:absolute;
    bottom:170px;
    left:5px;
    width:50px;
    height:50px;
    background-image: url("./Bilder/zahl_2.png");
}

#l3
{
    position:absolute;
    bottom:220px;
    left:5px;
    width:50px;
    height:50px;
    background-image: url("./Bilder/zahl_3.png");
}

#l4
{
    position:absolute;
    bottom:270px;
    left:5px;
    width:50px;
    height:50px;
    background-image: url("./Bilder/zahl_4.png");
}

#l5
{
    position:absolute;
    bottom:320px;
    left:5px;
    width:50px;
    height:50px;
    background-image: url("./Bilder/zahl_5.png");
    
}

#l6
{
    position:absolute;
    bottom:370px;
    left:5px;
    width:50px;
    height:50px;
    background-image: url("./Bilder/zahl_6.png");
    background-repeat: no-repeat;
}

#l7
{
    position:absolute;
    bottom:420px;
    left:5px;
    width:50px;
    height:50px;
    background-image: url("./Bilder/zahl_7.png");
}

/*Gebietsverlinkungsbildchen*/

#sumpf
{
  position:absolute;
  margin-top:11%;
  float:left;
  width:50px;
  height:25px;
  color:white;
}
#vulkan
{
  position:absolute;
  margin-top:12%;
  float:left;
  width:50px;
  height:25px;
  color:white;
}
#eissee
{
  position:absolute;
  margin-top:13%;
  float:left;
  width:50px;
  height:25px;
  color:white;
}
#dschungel
{
  position:absolute;
  margin-top:14%;
  float:left;
  width:50px;
  height:25px;
  color:white;
}
#klippen
{
  position:absolute;
  margin-top:15%;
  float:left;
  width:50px;
  height:25px;
  color:white;
}
#kristall
{
  position:absolute;
  margin-top:16%;
  float:left;
  width:50px;
  height:25px;
  color:white;
}
#wueste
{
  position:absolute;
  margin-top:17%;
  float:left;
  width:50px;
  height:25px;
  color:white;
}
#mammut
{
  position:absolute;
  margin-top:18%;
  float:left;
  width:50px;
  height:25px;
  color:white;
}

#wald
{
  position:absolute;
  margin-top:19%;
  float:left;
  width:50px;
  height:25px;
  color:white;
}
#oase
{
  position:absolute;
  margin-top:20%;
  float:left;
  width:50px;
  height:25px;
  color:white;
}
#steppe
{
  position:absolute;
  margin-top:21%;
  float:left;
  width:50px;
  height:25px;
  color:white;
}

/*Ladebalken*/
#laden{
	width: 200px;
	height: 20px;
	border: 1px solid black;
}

#balken{
	width: 200px;
	height: 20px;
	border-right: 1px solid black;
	background: darkred;
}

#prozent{
	width: 200px;
	text-align: center;
	color: white;
	display: block;
}
#button_abschluss{
	width: 200px;
	text-align: center;
	display: none;
	background: darkred;
}

/*Aktion Status Spieler*/
#aktion_status_wartend{
	display: block;
	text-align: center;
}
#aktion_status_kaempfend{
	display: none;
	text-align: center;
}
#aktion_status_laufend{
	display: none;
	text-align: center;
}